<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sr No</th> 
                    <th>Train Name</th>
                    <th>Train No</th>
                    <th>Travel Date</th>
                    <th>From Station</th>
                    <th>To Station </th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>1</td> 
                    <td>Lion</td>
                    <td>1</td>
                    <td>12-03-2024</td>
                    <td>Mombasa</td>
                    <td>Nairobi</td>
                </tr>

                <tr >
                    <td>2</td> 
                    <td>Girrafe</td>
                    <td>2</td>
                    <td>12-03-2024</td>
                    <td>Mombasa</td>
                    <td>Nakuru</td>
                </tr>

                <tr >
                    <td>3</td> 
                    <td>Cheetah</td>
                    <td>3</td>
                    <td>13-03-2024</td>
                    <td>Nairobi</td>
                    <td>Mombasa</td>
                </tr>

                <tr >
                    <td>4</td> 
                    <td>Elephant</td>
                    <td>4</td>
                    <td>14-03-2024</td>
                    <td>Mombasa</td>
                    <td>Nakuru</td>
                </tr>

                <tr >
                    <td>5</td> 
                    <td>Eagle</td>
                    <td>5</td>
                    <td>15-03-2024</td>
                    <td>Mombasa</td>
                    <td>Naivasha</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="btn me-1 fw-bold">
    <button class="btn btn-success me-1">Edit</button>
</div>
