<div class="modal-body">
             
    <div class="row"> 
        <div class="col-6">
            <label>Phone</label>
            <input type="text" required class="form-control" />
        </div>
    </div>
    <div class="row"> 
        <div class="col-6">
            <label>Password</label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div> 
<div class="modal-footer ms-3">
   <div> <button type="button" class="btn btn-danger  "  >Close</button></div> <br>

   <div>    <button type="button" class="btn btn-success" >Login</button></div>

  </div> 
