<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sr No</th> 
                    <th>Train Name</th>
                    <th>Train No</th>
                    <th>Travel Date</th>
                    <th>From Station</th>
                    <th>To Station </th>
                    <th>Passenger Name </th>
                    <th>Age </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td> 
                    <td>Lion</td>
                    <td>1</td>
                    <td>12-04-2024</td>
                    <td>Mombasa</td>
                    <td>Nairobi</td>
                    <td>Milkah Anyango</td>
                    <td>24yrs</td>
                </tr>

                <tr>
                    <td>2</td> 
                    <td>Eagle</td>
                    <td>2</td>
                    <td>12-04-2024</td>
                    <td>Mariakani</td>
                    <td>Nairobi</td>
                    <td>Anne Mary</td>
                    <td>32yrs</td>
                </tr>

                <tr>
                    <td>3</td> 
                    <td>Cheetah</td>
                    <td>3</td>
                    <td>14-04-2024</td>
                    <td>Voi</td>
                    <td>Nairobi</td>
                    <td>Moses Carl</td>
                    <td>40yrs</td>
                </tr>

                
                <tr>
                    <td>4</td> 
                    <td>GIrrafe</td>
                    <td>4</td>
                    <td>15-04-2024</td>
                    <td>Mtito Andei</td>
                    <td>Nairobi</td>
                    <td>Faith Joy</td>
                    <td>25yrs</td>
                </tr>

                <tr>
                    <td>5</td> 
                    <td>Elephant</td>
                    <td>5</td>
                    <td>16-04-2024</td>
                    <td>Nairobi </td>
                    <td>Mombasa</td>
                    <td>Mercy Njoki</td>
                    <td>3oyrs</td>
                </tr>

                
                <tr>
                    <td>6</td> 
                    <td>Lion</td>
                    <td>5</td>
                    <td>16-04-2024</td>
                    <td>Nairobi </td>
                    <td>Nakuru</td>
                    <td>Alex Kimani</td>
                    <td>50yrs</td>
                </tr>

                <tr>
                    <td>7</td> 
                    <td>Girraffe</td>
                    <td>7</td>
                    <td>17-04-2024</td>
                    <td>Mombasa </td>
                    <td>Naivasha</td>
                    <td>Mohamed Abdi</td>
                    <td>36yrs</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="btn cl-3">
    <button class="btn btn-success">Edit</button>
</div>
